# History files and data files
.Rhistory
.Rdata

# Example code in package build process
*-Ex.R
.Rproj.user
*.Rproj

# etc
frescalo_installation/
frescalo.exe
sparta.Rproj
misc/
/doc/
/Meta/
create_unicorn.r
error_reproduction_scripts/
inst/doc
