# History files and data files
.Rhistory
.Rdata

# Example code in package build process
*-Ex.R
.Rproj.user
*.Rproj

# etc
vignette_frescalo.exe
sparta.Rproj
misc/
/Meta/
create_unicorn.r
error_reproduction_scripts/
inst/JAGS
vignettes/wincomm.cmd
vignettes/myFolder